{% extends "base.html" %}
{% load static %}

{% block  body %}
<h3>Carrinho</h3>

<h4>Número Pedido: {{pedido.id}}</h4>
{% for item in itens_pedido %}
<p>
    <img src="{{ item.item_estoque.produto.imagem.url }}" width="50px" height="70px" alt=""><br>
    Produto: {{item.item_estoque.produto.nome}}<br>
    Cor: {{item.item_estoque.cor.nome}}<br>
    Tamanho: {{item.item_estoque.tamanho}}<br>
    Quantidade: {{item.quantidade}}
</p>
{% endfor %}

<a href="{% url 'checkout' %}">CheckOut</a>
{% endblock  %}
